*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.superior {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.barra {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.brand {
    margin-top: -7px;
}

.brand span{
    color: #EF1BF2;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}

.menu a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .activo {
    color: #DAA0F2;
}

.menu a:hover {
    background-color: #EF1BF2;
    border-radius: 10px;
    color: #191c32;    
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span {
    color: #1DF2DD;
}

.descargar {
    padding: 15px 20px;
    background-color: #EF1BF2;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.descargar:hover {
    background-color: #fff;
}

.main img{
    width: 450px;
    border: 7px  solid #1DF2DD ;
    height: 450px;
}

.sobremi {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    }

.sobremi img {
    width: 115%;
    height: 100%;
    grid-column: 1/5;
}
.infosobremi {
    grid-column: 6/10;
    padding: 3em;
}

.infosobremi h2{
    font-size: 2em;
    color: #191c32;
}

.rayita {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 2em;
}

.sobremi p {
    margin-bottom: 1em;
}

.portafolio1{
    width: 100vw;
    padding: 5em;
    background-color: #191c32;
    color: #fff;
}



.card-img-top{
    background-color: #191c32;
    width: 318px;
    height: 700px;
}

.card-body{
    background-color:#EF1BF2 ;
}

.card-body h5{
    font-size: 2em;
    color: #191c32;
}

.portafoliocabeza{
    font-size: 1.5em;
} 


/* .contenedor{
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */

.contenedor-contacto {
    padding: 3em;
    margin: 0 auto;

}


.contacto{
    width: 100vw;
    padding: 5em;
    background-color: #191c32;
    color: #fff;
}

.contactoinfo h2 {
    font-size: 3 em;

}

.contenedor-contacto img{
    width: 750 px;
    height: 700 px;
    bottom: 0px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;

}

.form textarea {
    height: 150px;
    background: none;
    justify-content: center;
    color: #fff;
    padding: 1.5em;
    border: 1px solid #ffff ;

}

.btn-enviar{
    padding: 15px 20px;
    background-color: #EF1BF2;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: aqua;
}

.contenidopie h2 {
    font-size: 2em;
}

.contenidopie h5 {
    font-size: 1em;
}